/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Comfortaa:wght@500&family=Oswald:wght@300;400;700&family=Space+Grotesk&display=swap');

/* universal container or body */
*{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}
/* container */
#container{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(./images/bc3.jpg);
    background-size: cover;
}
/* navigation bar */
nav{
    background-color:#884A39;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* navigation options */
nav ul li{
    
    display: inline-block;
    margin: 30px 20px;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 30px;
    
}

nav ul li a:hover{
    color:wheat;
}

.nav-icons{  
    justify-content: center;
    display: flex;
}
.n-icons{
    
    width: 30px;
    height: 30px;
    border: 2px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    display: inline-flex;
}
.n-icons i{
    color: aliceblue;
    font-size: 15px;
}
.n-iconsmenu{
    
    width: 30px;
    height: 30px;
    border: 2px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    display: inline-flex;
}
.n-iconsmenu a{
    font-size: 25px;
    color: white;
}
.n-iconsmenu a:hover{

    font-size: 30px;
    
}

/* home section */
/* --------------------- */
/* 1.home contents div */
#home{
    
    height: 100%;
}
.home-container{
    display: grid; 
    grid-gap: 0px; 
    grid-template-columns: 60% 40%;

}

.home-cont{
    background-color:#C38154;


    grid-column: 1 / 2; 
    grid-row: 1;
    
}
.home-cont h1{
    font-size: 40px;
    color: black;
    line-height: 3.5rem;
    padding-left: 8%;
    padding-top: 8%;
    
}
.home-cont span{
    color: wheat;

}
.home-cont p{
    font-size: 18px;
    line-height: 2rem;
    padding-left: 8%;

}
.home-cont a{
    text-decoration: none;
    background-color: #884A39;
    color: aliceblue;
    border-radius: 25px;
    display: inline-block;
    padding: 20px 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 75%;
    font-weight: bold;
}
/* hover button */
.home-cont a:hover{
    color: wheat;
    transform: scale(1.1);
}

/* 2.home food photos div */
.home-foods{
    background-color: #FFC26F;
    
    align-items: center;
    justify-content: space-evenly;
    display: flex;

    grid-column: 1 ; 
    grid-row: 2 ;
}
.hfood-arrow{
    margin: 70px 20px;
    font-size: 30px;
}
.hfood-icon{
    margin: 0px 0px;
}
.hfood-icon img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /* opacity from 0.0 - 1 */
    
}
.hfood-icon img:hover{
    /* transform used to scale to big effect */
    transform: scale(1.4);
    /* trasnsition used to add transition effect */
    transition: all 0.4s ease;
    

}

/* 3.home food cards div */
.home-cards{
    

    
    
    height: 100%;

    grid-column: 2 ; 
    grid-row: 1 / 3;
     
    
}
.home-cards h1{
    font-size: 40px;
    color: black;
    line-height: 3.5rem;
    text-align: center;
    margin: 40px;

}
.home-cards .offerspan{
    color: white;
}
.home-foodcards{
    background-color: #F9E0BB;
    margin: 20px 160px;
    width: 40%;
    height: 25%;
    border-radius: 20px;

    position: relative;
}
.home-foodcards h4{
    padding: 18px 20px;

}
.home-foodcards p{
    font-size: 10;
    padding: 0px 20px;
    line-height: 30px;

}
.home-foodcards span{
    font-size: 30px;
    font-weight: bold;
    
}
.home-foodcards img{
    position: absolute;
    right: 20px;
    top: 27px;
    width: 75px;
    height: 75px;
    border-radius: 25%;
}
.home-foodcards a{
    text-decoration: none;
    color: black;
}
.home-foodcards:hover{
    transform: scale(1.03);
}



/* responsive section -----------------------------------------------------*/

/* mobile portrait */
/* ---------------- */

@media (min-width: 320px) and (max-width: 480px) {
    #container{
        height: auto;
    }
    .home-container{
        display: flex; 
        flex-direction: column;
    }

    /* navigation bar */
    nav{
    background-color:#884A39;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    }
    /* navigation options */
    nav ul li{
    display: inline-block;
    margin: 15px 1px;
    }
    nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 10px;
    
    }
    nav ul li a:hover{
    color:wheat;
    }
    .nav-icons{  
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }
    .n-icons{
    width: 30px;
    height: 30px;
    border: 2px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    display: inline-flex;
    }
    .n-icons i{
    color: aliceblue;
    font-size: 15px;
    }
    .n-iconsmenu{
    
    width: 30px;
    height: 30px;
    border: 2px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    display: inline-flex;
    }
    .n-iconsmenu a{
    font-size: 25px;
    color: white;
    }
    /* 1.home contents div */
    .home-cont a{
        border-radius: 20px;
        display: inline-block;
        padding: 20px 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 8%;
    }
    /* 2.home food photos div */
    .hfood-arrow{
    margin: 50px 0px;
    font-size: 30px;
    }
    .hfood-icon{
    margin: 0px 0px;
    }
    .hfood-icon img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    /* opacity from 0.0 - 1 */
    }
    /* 3.home food cards div */
    .home-foodcards{
        background-color: #F9E0BB;
        margin: 20px 21%;
        width: 60%;
        height: 45%;
        border-radius: 20px;
    }
    .home-foodcards span{
        font-size: 20px;
        font-weight: bold;
        
    }
    
}

/* mobile landscape */
/* ----------------- */
@media (min-width: 481px) and (max-width: 768px) {
    #container{
        height: auto;
    }
    .home-container{
        display: flex; 
        flex-direction: column;
    }

    /* navigation bar */
    nav{
    background-color:#884A39;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    }
    /* navigation options */
    nav ul li{
    display: inline-block;
    margin: 15px 10px;
    }
    nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 20px;
    
    }
    .nav-icons{  
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }
    .n-icons{
    width: 30px;
    height: 30px;
    border: 2px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    display: inline-flex;
    }
    .n-icons i{
    color: aliceblue;
    font-size: 15px;
    }
    .n-iconsmenu{
    
    width: 30px;
    height: 30px;
    border: 2px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    display: inline-flex;
    }
    .n-iconsmenu a{
    font-size: 25px;
    color: white;
    }
    /* 1.home contents div */
    .home-cont a{
        border-radius: 20px;
        display: inline-block;
        padding: 20px 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 8%;
    }
    /* 2.home food photos div */
    .hfood-arrow{
    margin: 50px 0px;
    font-size: 30px;
    }
    .hfood-icon{
    margin: 0px 0px;
    }
    .hfood-icon img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /* opacity from 0.0 - 1 */
    }
    /* 3.home food cards div */
    .home-foodcards{
        background-color: #F9E0BB;
        margin: 20px auto;
        width: 250px;
        height: 45%;
        border-radius: 20px;
    }
    .home-foodcards span{
        font-size: 20px;
        font-weight: bold;
        
    }

}

/* tablet portrait */
/* --------------- */
@media (min-width: 769px) and (max-width: 1024px) {
    #container{
        height: auto;
    }

    /* navigation bar */
    nav{
    background-color:#884A39;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    }
    /* navigation options */
    nav ul li{
    display: inline-block;
    margin: 15px 20px;
    }
    nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 30px;
    
    }
    .nav-icons{  
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }
    .n-icons{
    width: 30px;
    height: 30px;
    border: 2px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
    display: inline-flex;
    }
    .n-icons i{
    color: aliceblue;
    font-size: 15px;
    }
    .n-iconsmenu{
    
    width: 30px;
    height: 30px;
    border: 2px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
    display: inline-flex;
    }
    .n-iconsmenu a{
    font-size: 25px;
    color: white;
    }
    /* 1.home contents div */
    .home-cont h1{
        padding-left: 5%;
    }
    .home-cont p{
        padding-left: 5%;
    }
    .home-cont a{
        border-radius: 20px;
        display: inline-block;
        padding: 20px 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 8%;
    }
    /* 2.home food photos div */
    .hfood-arrow{
    margin: 50px 0px;
    font-size: 30px;
    }
    .hfood-icon{
    margin: 0px 0px;
    }
    .hfood-icon img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /* opacity from 0.0 - 1 */
    }
    /* 3.home food cards div */
    .home-foodcards{
        background-color: #F9E0BB;
        margin: 20px auto;
        width: 200px;
        height: 130px;
        border-radius: 20px;
    }
    .home-foodcards span{
        font-size: 25px;
        font-weight: bold;
        
    }
}




